.item-container {
  background-color: var(--ion-color-danger);
  display: grid;
}

ion-item {
  grid-column: 1;
  grid-row: 1;
}

.icon-row {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  align-items: center;
  text-align: right;
  color: rgb(255, 255, 255);
  margin-right: 20px;
}
